* {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Arsenal", "sans-serif";
}

.menu {
    height: 100px;
    background-color: #112244;
    margin-top: 0em;
    display: flex;
}

.logo {
    height: 60%;
    padding-left: 20%;
    margin-top: 0.9em;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 10%;
    margin-top: 2.5em;
}

li {
    margin-right: 40%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.2vw;
}

li :hover {
    color: orange;
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
}

.menu img {
    height: 100%;
    margin-left: 10%;
    margin-right: 15%;
}

